.bio {
    background: linear-gradient(to bottom, black 0%, rgba(82, 81, 81, 0.089) 90%);
    width: 100%;
    height: auto;
    background-color: $color-grey-dark-2;
    position: relative;

    h2 {
        display: inline-block;
    }

    &__content {
        padding: 10rem 0;
        max-width: 110rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 3rem;

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        img {
            height: 90vh;
            justify-self: center;
        }

        &--text {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 1.9rem;
            align-self: start;

            @media only screen and (max-width: $bp-medium) {
                padding: 0 5rem;
            }

            h2 {
                margin-top: -6rem;
            }

            p {
                margin-top: -6rem;
            }
        }
    }
}

