.hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.089) 30%), url(/img/hero-ready-1.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media only screen and (max-width: $bp-small) {
        background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.089) 30%), url(/img/hero-ready-1.jpg) no-repeat 70% 100%/cover;
    }

    nav {
        font-size: 2rem;
        font-family: $font-display;
        margin-top: 10rem;
        margin-left: 6rem;

        @media only screen and (max-width: $bp-large) {
            font-size: 3rem;
        }

        @media only screen and (max-width: $bp-medium) {
            font-size: 4rem;
        }

        ul {
            list-style: none;
            
            a {
                text-transform: lowercase;
                color: $color-primary;

            }
        }
    }


    h1 {
        font-size: 12rem;
        margin-left: 3rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 10rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 8rem;
        }

        &::before {
            content: "A tribute page to";
            display: block;
            font-family: $font-display;
            font-size: 4rem;
            margin-left: 1.5rem;
            margin-bottom: -5rem;

            @media only screen and (max-width: $bp-medium) {
                font-size: 3rem;
                margin-bottom: -4rem;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 2.8rem;
                margin-left: 1.2rem;
                margin-bottom: -3rem;
            }
        }
    }
} 


